@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
body {
     background-color: black;
     overflow-x: hidden;
     height: 100vh;
}
i {
    color: white;
    font-size: 1.6rem;
}
ul, header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
li, a {
    list-style: none;
    font-size: 1.6rem;
    cursor: pointer;
}
html {
    font-size: 10px;
}
p {
    font-size: 1.5rem;
}

li a {
  text-decoration: none;
  color: inherit;
}
button {
    background-color: transparent;
    color: white;
    padding: 18px 40px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border: 1px solid #C9C9C9;
}
 /* -----------------------------------
 --------------- header 
 --------------------------------- */
 header {
    /* position: sticky; */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
 }
 header > div {
     max-width: 1290px;
    }
    nav {
        display: flex;
    }
    header i{
        font-size: 2rem;
    }
    .menu-head {
            gap: 30px;
        }
        
        .nav-bottom::after {
            content: "";
            position: absolute;
            top: 37px;
            margin-left: -5px;
            width: 70px;
            height: 3px;
            opacity: 1;
            /* animation: bottomOpacity 1s; */
            background-color:#76B900;
            border-radius: 10px;
        }
        .test::after {  
            animation: fadeout 2s;
        }

        @keyframes fadein{
       from {
      opacity: 0;   
    }
    to {
      opacity: 1;
    }
        }
        @keyframes fadeout{
       from {
      opacity: 1; 
    }
    to {
      opacity: 0;
    }
        }
    .nav-bottom-scroll {
        animation-name: smoothScroll;
        animation-duration: 3s;
        animation-timing-function: linear;
    }

    @keyframes smoothScroll {
    0%   {
            margin-left: -5px;        
        }
  100%  {
            margin-left: 100px;
        }
    }

nav li {
        color: #666;
        padding: 8px 0;
        line-height: 22px;
        font-family: 400;
        margin-right: 4px;
    }
    nav ul {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;
    }
    .menu > li > div:nth-last-of-type(1) {
        position: absolute;
        background-color: white;
        width: 100%;
        margin-top: 14px;
        left: 0;
    }
    .menu > li > div:nth-last-of-type(1) > ul{
        margin: 0 auto;
        max-width: 1290px;
    }
    nav ul:nth-of-type(2) a {
        font-size: 1.4rem;
    }
    .menu-level {
        display: none;
    }
.menu-level-1 {
        background-color: #F7F7F7;
        padding: 7px 30px;
}
.menu:hover  .menu-level, .menu-level:hover{
        display: block;
}
.menu-level-1:hover::after, .menu-head:hover::after {
    content: "";
    position: absolute;
    top: 38px;
    margin-left: -5px;
    height: 3px;
    background-color:#76B900;
    animation-name: navbottom;
    border-radius: 10px;
    width: 85px;
}
.menu-level-2 {
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    padding: 10px 22px;
}
.menu-level-2 > li > div {
    color: black;
    font-weight: 600;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 10px;
}
.menu-level-3 {
    flex-direction: column;
    padding-top: 10px;
    gap: 0;
}
nav ul:nth-last-of-type(1) li{
    margin-right: 22px;
}
header {
    z-index: 1;
}

.search-box{
    display: none;
    position: absolute;
    margin-left: -340px;
    height: 50px;
    width: 400px;
    margin-top: 29px;
    background-color: white;
}

.tria {
    display: none;
}
.search-box i {
    POSITION: ABSOLUTE;
    margin-left: -35px;
    margin-top: 15px;
}
.search-box input {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: white;
}
.tria {
    display: none;
    position: absolute;
    margin-top: -19px;
    fill: #f9fafb;
    font-size: 96px;
    margin-left: -17px;
}
.search:hover > .tria {
    display: block;
}
.search:hover > .search-box{
    display: block;
}
.search .blank{
    position: absolute;
    left: 0px;
    width: 1px;
    height: 100vh;
    background-color: black;
}
.search:focus > .blank {
    width: 100%;
    animation: blank;
    animation-duration: 3s;
}
@keyframes blank{
  
    0% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

/* ---------------------
------hero 
--------------- */
section {
    padding: 0 38px;
}
.hero {
    color: white;
    height: 810px;
    /* border: 1px solid red; */
}

.hero > div{
    margin: 0 auto;
    max-width: 1366px;
    /* border: 1px solid red; */
}
.hero-heading {
        width: 519px;
    /* border: 1px solid red; */
    margin-top: 146px;
    letter-spacing: 1px;
}
.hero-heading h2 {
    font-size: 2.4rem;
}
.hero-heading h1 {
    font-size: 4.8rem;
    font-weight: bolder;
    margin: 10px 0;
}
.hero-heading p {
    font-size: 2.1rem;
    margin-bottom: 30px;
    line-height: 170%;
}
button {
    padding: 14px;
    letter-spacing: normal;
    background-color: #76B900;
    font-weight: bold;
    font-size: 1.8rem;
    color: black;
    border: 0;
}
.hero-image {
    top: 45px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    /* border: 1px solid red; */
}
.loading-bar {
    /* border: 1px solid white; */
    justify-content: space-between;
    color: #666;
    margin-bottom: 30px;
}
.loading-bar > div {
        max-width: 160px;
}

.hero {
    display: block;
}

.loading-bar > div:nth-of-type(1){  
    /* color: white; */
}
.loading-bar > div:nth-of-type(1) > div:nth-of-type(1){
    background: linear-gradient(to right, #76B900 50%, #666 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.1s ease;
  /* background-color: #76B900; */
  
}
.loading-bar > div:nth-of-type(1):hover  div:nth-of-type(1){
    transition: all 5s ease;
  background-position: left bottom;
}
.loading-bar > div:nth-of-type(1):hover {
    color: white;
}
  /* 
}
 */
.loading-bar > div > div:nth-of-type(1){
    height: 3px;
    background-color:#666;
}
.loading-bar h6 {
    margin: 15px 0;
}
/* ---------------------
---------- scroll post 
----------------------- */
 body > section:nth-last-of-type(2){
    padding-bottom: 50px;
}
.blog-sec-1 > div:nth-of-type(1) {
    padding: 60px 0;
    margin: 0 auto;
    height: 700px;
    /* background-color: yellow; */
    max-width: 1366px;
}
.sec-head h1{
    letter-spacing: -0.5px;
}
.sec-head  i{
    background-color: #76B900;
    padding: 10px 10px;
    margin-right: 10px;
}
.sec-content {
    padding-top: 30px;
    /* border: 1px solid red; */
}
.sec-content > div:nth-of-type(1){
    width: 522px;
}
.sec-content > div:nth-of-type(1) p{
font-size: 2.15rem;
line-height: 170%;
letter-spacing: 0.8px;  
}
.sec-content > div:nth-of-type(1) > div p{
    font-size: 1.6rem;
        margin-bottom: 0;
}
.quick-link {
    color: white;
}
.quick-link a{
    color: black;
    font-weight: 600;
    padding: 22px 0px;
    font-size: 1.8rem;
    margin-top: 46px;
}
.quick-link i {
    margin: 15px 16px;
}
.sec-content div:nth-of-type(2){
    overflow: hidden;
}
.blog-posts {
    width: 410px;   
    border-radius: 2px;
    margin: 15px 15px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
    /* border: 2px solid red; */
}
.blog-posts:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;;
    transition: all .8s;
}
.blog-posts div:nth-of-type(2){
        padding: 28px 30px;
}
.blog-posts img{
    width: 100%;    
}
.blog-posts h1{
    font-size: 2rem;
    line-height: 150%;
    margin: 12px 0;
}
.blog-posts h2{
    font-size: 1.5rem;
}
.blog-posts p{
    line-height: 170%;
}
.blog-loader {
    max-width: 1300px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color:#76B900;
    height: 5px;
    border-radius: 10px;
    margin-top: -25px;
}
/* -------------------
    -------Support Link
    ------------------ */
.support-link {
    display: block;
    color: white;
    height: 560px;
}
.support-link > div {
    max-width: 1366px;
    margin: 0 auto;
    gap: 30px;
}
.support-link h4 {
        font-size: 2.4rem;
    border-bottom: 1px solid rgb(116, 116, 116);
    padding-bottom: 12px;
    font-weight: bold;
}
.support-link ul {
    align-items: flex-start;
    padding: 15px;
    color: #76B900;
}
.support-link button {
    height: 36px;
    width: 100px;
    border-radius: 5px;
    padding: 0;
    font-size: 1.6rem;
}
.links-container > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
    /* border: 1px solid red; */
}
.links-container > div > ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.subscribe {
    align-items: center;
    gap: 25px;
}
.subscribe p {
    font-size: 1.8rem;
}
 /* ---------------------------
-----------footer 
-------------------------  */
footer svg{
    width: 110px;
}
.global-footer-container {
    max-width: 1366px;
    display: flex;
    padding: 30px;
    margin: 0 auto;
}
.footer-top {
        display: flex;
    justify-content: space-between;
}
.global-footer__links li::after{
    content: " | ";
}
.global-footer__links li{
    margin: 15px 0 5px 0;
}