@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Nunito&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.zoom:hover, .btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

li:hover {
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.ic {
    display: none;
}
h1 {
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
}
h2 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 6.88px;
    color: #6D7D7D;
}
p {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 16px;
}
.light-text{
    color: #6D7D7D;
    letter-spacing: normal;
}
 /* --------------------------- section 1 -----------------
------------------------------- */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/BG.jpg);
    background-size: cover;
    background-position: center center;
}
/* ----------------------- header -------------------- */
.navigation li{
    margin-right: 55px;
}
.navigation {
    width: 100%;
    color:  white;
    margin-top: 40px;
}
.logo {
    flex-grow: 5;
}
.navigation, ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn {
    width: 230px;
    height: 40px;
    font-family: 'Nunito', sans-serif;
    flex-shrink: 0;
    letter-spacing: 6.5px;
    font-size: 16px;
    border-radius: 100px;
    background: transparent;
    border: 1px solid #6D7D7D;
}
.hero-inner{
    height: 100%;
    width: 100%;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease forwards;
}
.play {
    font-size: 100px;   
    margin-top: 50px;
    border-radius: 100%;
}
/* ------------------------------------------ section 2 ----------
----------------------------- */
.mileston {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
} 
.mileston-head p{
    color: #bbc7c7;
    font-size: 16px;
}
.mileston-head h1{
    margin-top: 20px;
}
.mileston-head p:nth-of-type(1){
    width: 520px;
    margin: 20px 0;
}

.mileston-main{
    display: flex;
    justify-content: space-between;
}
.mileston-main img{ 
    margin-right: 20px;
}
.mileston-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mileston-data h1{
    color: #6D7D7D;
    font-weight: 500;
}
 /* --------------------------------------- ---------------- hireUs ---------
 ------------------- */
 .hireUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #212828;
    height: 320px;
    margin: 50px 0;
    border-radius: 40px;
}
.hireUs img{
    margin-left: -50px;
    clip-path: circle(50%);
}
.hireUs div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.4;
}
.hireUs button{
    margin-top: 30px;
}
/* -------------------------------------------------------- section fourth
-------------------------- */
.team {
    display: flex;
    justify-content: space-between;
    width: 100%;   
    margin: 50px 0;
}
.team-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 10px;
}
.team-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0.3;
}
.team-rating p{
    margin: 20px 0;
}
.team-rating i{
    color: yellow;
}
.team-review-img {
    padding-left: 20px;
    align-items: flex-end;
    width: 180px;
}
.team-review-img img{
    margin-left: -20px;
    clip-path: circle(40%);   
}
.team-review{
    display: flex;
    flex-direction: column;
     justify-content: center;
     flex-grow: 1;
}
.team-left p{
    letter-spacing: normal;
}
.team-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 0.2;
    justify-content: space-between;
}

.team-right div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
/* -------------------------------------------- fifth section -------
------------------------ */
.service1 {
    display: flex;
    margin-bottom: 50px;
}
.service1 p:nth-of-type(1){
    margin-bottom: 22px;
}
.service1 h1{
    flex-grow: 1;
}
/* ------------------------------------------ sixth section ----------------
    --------------------- */
.gellery {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gellery img{
    max-width: 280px;
}
/* ------------------------------------------ seventh section ------
----------------------------- */
.blog {
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
}

.blog-post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    
}
.blog-post{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.blog-post-content  p{
width: 320px;    
}

.blog-post-content p:nth-of-type(1){
    margin: 35px 0;
}
/* ------------------------------------------- eights section ------
------------- */
.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.newsletter h1 {
    flex-grow: 1;
}
.newsletter p {
    flex-grow: 1;
    letter-spacing: normal;
    line-height: 40px;
    border-bottom: 1px solid #6D7D7D;
}
/* ------------------------------- ninth section ------------------- 
--------------- */
.footer-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    height: 70px;
}
.footer-social {
    display: flex;
}

.icon {
    margin-right: 30px;
    border-radius: 100%;
}
/* ---------------keyframe------------  */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
    }
}

/* ----------------------------- mediq query --------------  */
@media (max-width: 1366px) {
    section, footer, .navigation{
        width: 95%
    }
    
}
@media (max-width: 1120px){
.mileston {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
.mileston-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mileston-main-img img:nth-of-type(3){
    display: none;
}
.hireUs {
    width: 100%;
}
h1 {
    font-size: 35px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 15px;
}
.gellery img:nth-last-child(4){
    display: none;
}
.blog-post div:nth-last-child(3){
    display: none;
}
.blog-post {
    justify-content: space-evenly;
}
.play {
    font-size: 80px;
}
}
@media (max-width: 980px) {
    .btn {
            width: 180px;
            font-size: 12px;
        }
        .play {
            font-size: 50;
        }

.navigation  li {
        font-size: 15px;
        margin-right: 40px;
    }
h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }
    .team-right img{
        width: 40%;
    }
    
}
@media (max-width: 840px) {
    .navigation .btn{
        display: none;
    }
    .gellery {
        justify-content: space-around;
    }
    .gellery img:nth-last-child(3) {    
        display: none;
    }
    .hireUs {
        height: 230px;
    }
    .hireUs img{
        margin-left: -120px;
    }
}
@media (max-width: 740px) {
    .mileston-main {
        justify-content: space-around;
    }
    .mileston-main-img img:nth-last-child(2){
        display: none;
    }
    .hireUs {
        height: 200px;       
    }
.hireUs img {
    clip-path: circle(30%);
}
.team {
    flex-wrap: wrap;
    justify-content: center;
}

.team-content {
    text-align: center;
}
.team-right div{
    justify-content: space-around;
}
.team-content h1{
    line-height: 25px;
    margin: 20px 0;
}
.team-content p {
    display: none;
}
.team-review {
    display: none;
}
.team-hide .btn{
    display: inline;
}
.team-hide img{
    display: none;
}
.mileston-head p:nth-last-child(1){
    display: none;
}
.mileston-head h1{
    margin: 30px 0;
    line-height: 25px;
    width: 280px;
    text-align: center;
}

}
@media (max-width: 580px){
        .mileston-main-img {
        display: none;
    }
    .ic {
        display: block;
    }
    .mileston-data {
        text-align: center;
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;        
    }
    .mileston-data div:nth-of-type(4){
        width: 100%;
    }
    .mileston-data .btn {
        margin: 20px 20px;
        font-size: 10px;
        letter-spacing: 2px;
    }
    .hireUs {
        display: none;
    }
    .service1 h1{
        font-size: 22px;
    }
    .service1 p{
        font-size: 12px;
    }
    .newsletter {
        flex-wrap: wrap;
    }
    .newsletter div {
        display: flex;
        margin: 20px 0;
        justify-content: center;
        width: 100%;
    }
    .newsletter .btn {
    font-size: 10px;
    letter-spacing: 2px;
    }
    .footer-footer p {
        font-size: 10px;
    }
    .icon {
        margin-right: 10px;
        border-radius: 100%;
    }
    .navigation ul{
        display: none;
    }
.navigation i {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 30px;

}
 .navigation .toggle{
     display: flex;
     position: absolute;
     left: 0;
     top: 0;
     flex-direction: column;
     justify-content: center;
     /* width: 100%;
     height: 100%; */
     /* border-radius: 100%; */
     z-index: 5;
     background-color: black;
     transition: all 1000ms cubic-bezier(0.68, 0.01, 0, 1.01);
    animation: menu 0.5s ease forwards;
 }
 .navigation i {
     position: absolute;
     right: 20px;
     top: 30px;
     font-size: 30px;
 }

 .toggle li {
     font-size: 30px;
     margin: 20px;
     padding: 0;
 }
}
@keyframes menu {
    from {
        right: 0;
        top: 0;
        border-radius: 100%;
        transform: scale(0);
    }
    
    to {
        width: 100%;
        height: 100%;
        transform: scale(100%);
    }
}