/* @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Alegreya&family=Aleo&family=Gabarito&family=Lato&family=Merriweather&family=Montserrat&family=Mulish&family=Nunito&display=swap'); */


/* font-family: 'Abhaya Libre', serif;
font-family: 'Alegreya', serif;
font-family: 'Aleo', serif;
font-family: 'Gabarito', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Assistant&family=Barlow&family=Bitter&family=Brawler&family=Caladea&family=Carme&family=Open+Sans&family=Oswald&family=Poppins&family=Roboto&family=Rokkitt&family=Rubik&display=swap'); */

/* font-family: 'Assistant', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Brawler', serif;
font-family: 'Caladea', serif;
font-family: 'Carme', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Rubik', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&family=Enriqueta&family=Frank+Ruhl+Libre&family=Gelasio&family=Headland+One&family=Spectral&family=Work+Sans&display=swap'); */

/* font-family: 'Encode Sans Semi Condensed', sans-serif;
font-family: 'Enriqueta', serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Gelasio', serif;
font-family: 'Headland One', serif;
font-family: 'Spectral', serif;
font-family: 'Work Sans', sans-serif; */